<div id="figure">
	<img src="/images/headline-menu.jpg" alt="Image">
	<span><%- name %></span>
</div>

<div>
	<a href="/menu.html" class="whatshot">What&#39;s Hot</a>
	<div>

<img src="/images/<%- image %>" alt="<%- name %>" style="float:right">
