<div id="figure">
	<img src="/images/headline-menu.jpg" alt="Image">
	<span>Lorem ipsum dolor sit amet.</span>
</div>
<div>
	<a href="/menu.html" class="whatshot">What&#39;s Hot</a>
	<div>
			<p>
			This is coffee 1.
			</p>
	</div>
</div>
