
<div id="figure">
	<img src="images/headline-about.jpg" alt="Image">
	<span>Lorem ipsum dolor sit amet.</span>
</div>
<div>
	<a href="about.html" class="about">About</a>
	<div>

		<h3>We Have Coffee for Everyone</h3>
		<p>
		Mauris sed libero ac neque lobortis aliquam. Vivamus vitae ultricies turpis. Ut fermentum eleifend purus, a porttitor quam sollicitudin quis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque sed accumsan orci. Quisque viverra semper tellus, ut feugiat ex sagittis at. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
		</p>

		<h3>We Even Have Tea!</h3>
		<p>
		Sed a pretium risus, ut volutpat nunc. Donec blandit orci id sollicitudin malesuada. Pellentesque est erat, ultrices quis dolor eu, dignissim condimentum tellus. Phasellus vitae justo vulputate, mollis ante id, tempus risus. In eget sapien mattis, finibus lectus vel, molestie odio. Praesent iaculis viverra ipsum. Sed ut consequat ante. Quisque egestas et lorem quis vehicula. Sed sit amet hendrerit leo. Proin pharetra tristique dictum. Nunc elementum libero at lectus lobortis dapibus.
		</p>

		<h3>We Don't Have Beer</h3>
		<p>
		Proin dapibus, orci vitae bibendum laoreet, libero velit condimentum diam, sit amet cursus turpis diam non sem. Proin vel facilisis metus. Donec at quam ipsum. Suspendisse nec ultricies mi. Sed efficitur lacus at tortor placerat fermentum. Curabitur congue mi tellus, ac rutrum nunc viverra eget. Donec vulputate ex at risus iaculis, ut suscipit lectus consectetur. Sed nisi sem, tincidunt ac diam sit amet, accumsan venenatis est. In ac semper leo. Nullam sagittis porttitor commodo. Duis placerat vestibulum mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rhoncus felis risus, quis efficitur leo molestie quis.
		</p>


	</div>
</div>
