
<!DOCTYPE html>
<html>
{{ partial "head.html" . }}
<body>
<div class="wrapper">
<nav>
  	<div class="pull-left">
      <div class="container">
        <h2 class="lone-header">{{ .Site.Title }}</h2>
      </div>
    </div>
    
    <div class="pull-right">
    </div>
</nav>
<section>
  <div class="container">
    {{ partial "nav.html" . }}
    <div class="docs-content">
      {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
          <h2>{{ $name | title }}</h2>
        {{ range $taxonomy.Pages }}
            <h3 id="{{ .LinkTitle | urlize }}">{{ .Title }}</h2>
            {{ .Content }}
            <hr>
        {{ end }}
      {{ end }}
    </div>
  </div>
</section>
{{ partial "footer.html" }}
</div>
<script src="{{ .Site.BaseURL }}assets/js/jquery.min.js"></script>
<script src="{{ .Site.BaseURL }}assets/js/layout.js"></script>
</body>
</html>