
<div id="figure">
	<img src="images/headline-about.jpg" alt="Image">
	<span>Tell us your thoughts!</span>
</div>
<div>
	<div class="contactForm">

	<form action="https://formspree.io/raymondcamden@gmail.com" method="post">
		
		<input type="hidden" name="_next" value="http://localhost:3333/thanks.html" />

		<p>
		<label for="name">Name: </label>
		<input type="text" name="name" id="name">
		</p>

		<p>
		<label for="email">Email: </label>
		<input type="email" name="email" id="email">
		</p>

		<p>
		<label for="comments">Comments: </label><br/>
		<textarea name="comments" id="comments"></textarea>
		</p>

		<input type="submit" value="Send Comments">
	
	</form>

	</div>
</div>
