
<div id="figure">
	<img src="images/headline-about.jpg" alt="Image">
	<span>Tell us your thoughts!</span>
</div>
<div>
	<div class="contactForm">

	<p>
	Thanks for sharing your comments!
	</p>
	
	</div>
</div>
